


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: white;
}

/* Header */
header{
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid whitesmoke ;
}

.logo-top{
    width: 16%;
}

.header-esquerda> a{
    text-decoration: none;
    color: rgb(179, 39, 40);
    padding: 0 6%;
    font-size: 80%;
    font-family: sans-serif;
    font-weight:1000;
    letter-spacing: 0.06rem;
    opacity: 1;
}

.header-esquerda> a:hover{
    text-decoration: none;
    color: rgb(179, 39, 40);
    padding: 0 6%;
    font-size: 80%;
    font-family: sans-serif;
    font-weight:1000;
    letter-spacing: 0.06rem;
    opacity: 70%;
}


.header-esquerda{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-direita{
    display: flex;
    justify-content: flex-end;
}

.header-direita a{
    font-size: 80%;
    font-weight: 1000;
    font-family:sans-serif;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5%;
    text-decoration: none;
    color: rgb(179, 39, 40);
}

.header-direita a:hover{
    background-color: rgb(179, 39, 40);
    padding: 10px;
    border: 1px solid black;
    text-decoration: none;
    color: white;
}








