*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: white;
}

/* Header */
header{
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid whitesmoke ;
}

.logo-top{
    width: 16%;
}

.header-esquerda> a{
    text-decoration: none;
    color: rgb(179, 39, 40);
    padding: 0 6%;
    font-size: 80%;
    font-family: sans-serif;
    font-weight:1000;
    letter-spacing: 0.06rem;
    opacity: 1;
}

.header-esquerda> a:hover{
    text-decoration: none;
    color: rgb(179, 39, 40);
    padding: 0 6%;
    font-size: 80%;
    font-family: sans-serif;
    font-weight:1000;
    letter-spacing: 0.06rem;
    opacity: 70%;
}


.header-esquerda{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-direita{
    display: flex;
    justify-content: flex-end;
}

.header-direita a{
    font-size: 80%;
    font-weight: 1000;
    font-family:sans-serif;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5%;
    text-decoration: none;
    color: rgb(179, 39, 40);
}

.header-direita a:hover{
    background-color: rgb(179, 39, 40);
    padding: 10px;
    border: 1px solid black;
    text-decoration: none;
    color: white;
}


/* test*/

main{
    height: 100%;
}


/*Footer*/

footer{
    background-color: pink;
    height: 300px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding:50px 100px 0 100px;
}

.redes-sociais h2{
    color: gray;
    padding: 10px;
    font-size: 150%;
}
.icones-container{
    display: flex;
    flex-direction: row;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 40px;
    margin-top: 30px;
}

.icones{
    height: 30px;
    width: 30px;
    opacity: 50%;
}

.atendimento h2{
    color: gray;
    padding: 10px;
    font-weight: bolder;
    font-size: 150%;
}

.atendimento h3{
    color: black;
    padding-left: 10px;
    font-size: 100%;
}

.atendimento p{
    padding-left: 10px;
    padding-top: 5px;
    text-decoration: underline;
}

.parceiro h2{
    color: gray;
    padding: 10px;
    font-weight: bolder;
    font-size: 150%;
}

.parceiro p{
    padding: 10px;
    margin-bottom: 10px;
}
.parceiro a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color:rgb(179, 39, 40);
    margin-left: 10px;
    margin-top: 20px;
    padding:10px 20px 20px 10px;
    border-radius: 4%;
    color: white;
    letter-spacing: .09rem;
    opacity: 1;
}

.parceiro a:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color:rgb(179, 39, 40);
    margin-left: 10px;
    margin-top: 20px;
    padding:10px 20px 20px 10px;
    border-radius: 4%;
    color: white;
    letter-spacing: .09rem;
    opacity: 80%;
}

@media screen and (min-device-width: 320px) and (max-device-width: 600px)

{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    /* Header */
    header{
        width: 100%;
        background-color: white;
        display:flex;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        border-bottom: 2px solid whitesmoke ;
    }
    
    .header-esquerda{
        width: 30%;
    }

    .header-esquerda img{   
        height:60px;
        width: 60px;
    }

    .header-esquerda a{
        display: none;
    }

    .header-direita{
       width: 70%;
       display: flex;
       justify-content: flex-end;
    }
}






